In [3]:
import pandas as pd

In [4]:
df = pd.read_csv("https://raw.githubusercontent.com/datasciencedojo/datasets/master/titanic.csv")

In [14]:
df.columns

Index(['PassengerId', 'Survived', 'Pclass', 'Name', 'Sex', 'Age', 'SibSp',
       'Parch', 'Ticket', 'Fare', 'Cabin', 'Embarked'],
      dtype='object')

In [15]:
s = df['Name'][0:10]

In [16]:
s

0                              Braund, Mr. Owen Harris
1    Cumings, Mrs. John Bradley (Florence Briggs Th...
2                               Heikkinen, Miss. Laina
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                             Allen, Mr. William Henry
5                                     Moran, Mr. James
6                              McCarthy, Mr. Timothy J
7                       Palsson, Master. Gosta Leonard
8    Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                  Nasser, Mrs. Nicholas (Adele Achem)
Name: Name, dtype: object

In [17]:
len(s)

10

In [23]:
l = ['a','b','c','dheeraj','e','f','g','h','i','j']

In [24]:
s1 = pd.Series(list(s),index=l)

In [25]:
s[0]

'Braund, Mr. Owen Harris'

In [28]:
s1[0] #internal index remember always

'Braund, Mr. Owen Harris'

In [29]:
s1['dheeraj']

'Futrelle, Mrs. Jacques Heath (Lily May Peel)'

In [33]:
s2 = s1.append(s)
s2

/tmp/ipykernel_98/1605337196.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s2 = s1.append(s)

a                                    Braund, Mr. Owen Harris
b          Cumings, Mrs. John Bradley (Florence Briggs Th...
c                                     Heikkinen, Miss. Laina
dheeraj         Futrelle, Mrs. Jacques Heath (Lily May Peel)
e                                   Allen, Mr. William Henry
f                                           Moran, Mr. James
g                                    McCarthy, Mr. Timothy J
h                             Palsson, Master. Gosta Leonard
i          Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
j                        Nasser, Mrs. Nicholas (Adele Achem)
0                                    Braund, Mr. Owen Harris
1          Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                     Heikkinen, Miss. Laina
3               Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                                   Allen, Mr. William Henry
5                                           Moran, Mr. James
6                                    McCarthy, Mr. Timothy J
7                             Palsson, Master. Gosta Leonard
8          Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)
9                        Nasser, Mrs. Nicholas (Adele Achem)
dtype: object

In [32]:
s2[0]

'Braund, Mr. Owen Harris'

In [36]:
s3 = pd.Series([3,4,5,6,6],index=[2,4,5,6,1])

In [37]:
s4 = pd.Series([34,345,45,45,454],index=[9,4,5,6,7])

In [39]:
s5 = s3.append(s4)

/tmp/ipykernel_98/2271913347.py:1: FutureWarning: The series.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  s5 = s3.append(s4)

In [41]:
s5[4] #taking data from given named index not default

4      4
4    345
dtype: int64

In [43]:
s5[0:6] #in case of slicing it takes default indexes

/tmp/ipykernel_98/2629195334.py:1: FutureWarning: The behavior of `series[i:j]` with an integer-dtype index is deprecated. In a future version, this will be treated as *label-based* indexing, consistent with e.g. `series[i]` lookups. To retain the old behavior, use `series.iloc[i:j]`. To get the future behavior, use `series.loc[i:j]`.
  s5[0:6] #in case of slicing it takes default indexes

2     3
4     4
5     5
6     6
1     6
9    34
dtype: int64

In [44]:
s3

2    3
4    4
5    5
6    6
1    6
dtype: int64

In [45]:
s4

9     34
4    345
5     45
6     45
7    454
dtype: int64

In [46]:
s3*s4

1       NaN
2       NaN
4    1380.0
5     225.0
6     270.0
7       NaN
9       NaN
dtype: float64

In [47]:
s3+s4

1      NaN
2      NaN
4    349.0
5     50.0
6     51.0
7      NaN
9      NaN
dtype: float64